@using LudumDare54.Core;
@using LudumDare54.Core.States;

<div class="DeckSelectionState" />

<div class="preview">
    <div class="inner" id="@_innerGuid">
        
    </div>
</div>

<p class="counter">
    <span>You can only fit @State.Amount items in your backpack and pockets. What do you take on your perilous journey?</span>
    <span>@(State.Deck?.Count ?? 0)</span>
    <span>/</span>
    <span>@State.Amount</span>
</p>

<ul>
    @foreach(var card in _repository.ResourceCards) {
        Session.Deck ??= new();
        var selected = State.Deck.Any(x=>x.Id.Equals(card.Id, StringComparison.OrdinalIgnoreCase));
        <li>
            <button class="@(selected ? "selected" : "unselected")" @onclick="args=>Toggle(card)" @onmouseenter="OnCardHover">@card.Id</button>
        </li>
    }
</ul>

<button @onclick="args=>{ OnSelect(); State.Finish();}" @onmouseenter="OnHover" disabled="@(!State.Deck.Any())"><span>Finish packing and start journey</span></button>

@code {
    [Parameter]
    public required DeckSelectionState State { get; set; }

    [Parameter]
    public required Session Session { get; set; }

    [Inject]
    public required RepositoryFactory RepositoryFactory { get; set; }

    private Repository _repository = default!;

    protected void Toggle(ResourceCard card) {
        if ((State.Deck?.Count ?? 0) >= 10) {
            return;
        }

        OnCardSelect();

        if (State.Deck.Contains(card)) {
            State.Deck.Remove(card);
        } 
        else {
            State.Deck.Add(card);
        }
    }

    protected override async Task OnParametersSetAsync() {
        _repository = await RepositoryFactory.GetRepository();

        await base.OnParametersSetAsync();
    }
}